@use '../../style/variables';

.movies-coming-soon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__list {
        display: flex;
        gap: 1rem;
        overflow: scroll;
        scroll-snap-stop: always;
    }
}