@use './fonts';

$font-face: 'Poppins', 'sans-serif';

// basic colors
$color-dark-main: #1B1E25;
$color-light-main: #fff;
$color-medium: #AFAFAF;
$color-accent: #54A8E5;
$color-dark-secondary: #696D74;
$color-light-secondary: #BABFC9;
$color-medium-secondary: #636882;
$color-star: #FFA235;
$color-red: #eb5757;
$color-blue: #546EE5;

// transparent colors
$color-dark-transparent: #696D744D;