@use '../../style/variables';

.footer {

    background-color: variables.$color-dark-main;
    color: variables.$color-medium-secondary;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    
    &__menu {
        display: flex;
        justify-content: space-between;
    }
}

.active {
    color: variables.$color-accent;
}